<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the bean for AdvancedCourseRecommender with primary designation -->
    <bean id="basicCourseRecommender" class="task3.BasicCourseRecommender" primary="true">
        <!-- You can configure additional properties or dependencies here if needed -->
    </bean>

</beans>
